<!DOCTYPE HTML>
<html>

  <head>
  <!-- Head contents here -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="images/favicon.png" />
    <title></title>
   
  </head>

  <body>
  <!-- Body Start -->
    <header>
    
    </header>

    <!-- Nav Start -->
    <!-- <nav>
      <a href="#">Home</a>
      <a href="#">Blog</a>
      <a href="#">Contact Me</a>
    </nav> -->

    <!-- Main Start -->
    <main>
        <article>
        
        </article>

      <!-- Aside Start -->
    <aside>
      
      </aside>
    </main>

    <!-- Footer start -->
    <footer>

    </footer>
    <!-- //Body End -->
    <script src="script.js"></script>
  </body>

</html>